<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="/get/u/grid/v1/">
    <link rel="stylesheet" href="/get/u/reset/v1/">
    <link rel="stylesheet" href="/get/o/wrapper/v1/">
    <link rel="stylesheet" href="/get/u/space/v1/">
    <link rel="stylesheet" href="/get/u/text/v1/">
    <link rel="stylesheet" href="/get/c/line/v1/red/2px/5/">
    
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>    
</head>
<body>

    {{{body}}}

</body>
</html>