<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="/get/u/grid/v1/">
    <link rel="stylesheet" href="/get/u/reset/v1/">
    <link rel="stylesheet" href="/get/o/wrapper/v1/">
    <link rel="stylesheet" href="/get/u/space/v1/">
    <link rel="stylesheet" href="/get/u/heading/v1/">
</head>
<body>

    {{{body}}}

</body>
</html>