<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CSSmyass Documentation</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/get/u/grid/v1/">
    <link rel="stylesheet" href="/get/u/reset/v1/">
    <link rel="stylesheet" href="/get/o/wrapper/v1/">
    <link rel="stylesheet" href="/get/u/space/v1/">
    <link rel="stylesheet" href="/get/u/text/v1/">
    <link rel="stylesheet" href="/get/c/line/v1/red/2px/5/">
    <link rel="stylesheet" href="/get/c/tabs/v1/">
    <link rel="stylesheet" href="/get/c/sidenav/v1/">
    <link rel="stylesheet" href="/get/c/def/v1/">
    <link rel="stylesheet" href="/get/u/colors/v1/red/%2300FF00/grey/">
    
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>   
    
</head>
<body>

    {{{body}}}

</body>

<script src="/helper.js"></script>

</html>