@import "clearfix";


$p1: black !default;
$color: $p1;

$p2: 1px !default;
$stepsize: $p2;

$p3: 5 !default;
$steps: $p3;

.c-line{ 
  border: 0;
  border-style: solid;
  border-color: $color;
  border-bottom-width: 1px;
}

@for $i from 1 through $steps {
  .c-line--#{$i} {
    border-bottom-width: $stepsize*$i;
  }
    // ... do something fancy with $c
}

@for $i from 1 through $steps {
  .c-line--#{$i}\/#{$steps} {
    @include clearfix();
    width: $i*(100%/$steps);
  }
    // ... do something fancy with $c
}

/* TODO ADD LENGTH*/
