/*
  Responsive Teaser Layout
*/

$breakpoint: 940px;


$xl: 100%;
$l: 66%;


.o-teaser {
  width:100%;
  display: flex;
  flex-flow: row wrap;
  justifiy-content: space-between;
}

.o-teaser--m{
}



.o-teaser__image {
  flex: 1 0 100%;

  .o-teaser--m &{
    flex: 1 0 65%;
  }
  
  .o-teaser--m &{
  }  
  
  img{
    max-width: 100%;    
  }
}


.o-teaser__body {
  flex: 1 0 100%;
  min-width:299.98px;
  
  @media (max-width:350px){
    min-width: auto;
  }
  
  .o-teaser--m &{
    flex: 1 0 229.98px;
    margin-left: 10px;
  }  
  
  .o-teaser--m &{
  }    
}