.u-dropdown {
  position: relative;

  &.is-open > .u-dropdown__menu{
    display: block;    
  } 

}

.u-dropdown--hover:hover {
  .u-dropdown__menu{
    display: block;    
  } 
}

.u-dropdown__toggle{
  
}


.u-dropdown__menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
}