.c-def {
}


.c-def__title{
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
}

.c-def__desc{
    margin-left: 180px;
}