$p1: #0074D9 !default;
$primary: $p1;

$p2: #3D9970 !default;
$secondary: $p2;

$p3: #CCCCCC !default;
$muted: $p3;

// Functions
// ---------- ---------- ---------- ---------- ----------
// Add percentage of white to a color
@function tint($color, $percent){
  @return mix($color, white, $percent);
}

// Add percentage of black to a color
@function shade($color, $percent){
  @return mix($color, black, $percent);
}


$theme: (
  '1': $primary,
  '2': $secondary,
  'muted': $muted
) !default;

$properties: ('bc': 'border-color', 'bg':'background-color', 'color':'color');


/// Themify mixin
/// @param {Map} $themes [$themes] - Map of themes to use
@mixin themify() {
  // Properties to output, more can be added (e.g. `border-left-color`)
  
    // Iterate over the colors from the theme
    @each $color-name, $color in $theme {
      // Iterate over the properties
      @each $property-name, $property in $properties {
        // Create a selector
        // e.g. `.theme .color-primary, .theme.color-primary`
        u-#{$property-name}-#{$color-name} {
          #{$property}: $color;
        }
      
        u-#{$property-name}-#{$color-name}--light {
          #{$property}: tint($color, 20%);
        }
  
        u-#{$property-name}-#{$color-name}--dark {
          #{$property}: shade($color, 20%);
        }

        u-#{$property-name}-#{$color-name}--gray {
          #{$property}: grayscale($color);
        }

      }
    }
  
}


@include themify();




$colors: (

'aqua'  #7FDBFF,
'blue'  #0074D9,
'navy'  #001F3F,
'teal'  #39CCCC,
'green' #2ECC40,
'olive' #3D9970,
'lime'  #01FF70,

'yellow'  #FFDC00,
'orange'  #FF851B,
'red'     #FF4136,
'fuchsia' #F012BE,
'purple'  #B10DC9,
'maroon'  #85144B,

'white'  #FFFFFF,
'silver' #DDDDDD,
'gray'   #AAAAAA,
'black'  #111111

);



@each $color-name, $color in $colors {


  @each $property-name, $property in $properties {
      // Create a selector
      // e.g. `.theme .color-primary, .theme.color-primary`
      u-#{$property-name}-#{$color-name} {
        #{$property}: $color;
      }

      u-#{$property-name}-#{$color-name}--light {
        #{$property}: tint($color, 20%);
      }

      u-#{$property-name}-#{$color-name}--dark {
        #{$property}: shade($color, 20%);
      }
  }
}
